


body
{


    font-family: 'Freckle Face', cursive;
    background-color: goldenrod;
}



#klik
{
    width:200px;
    height:50px;
    background-color:darkorchid;
    color:black;
    border-radius:30px;
    font-size:30px;
    text-align:center;
    line-height:150%;
    margin-bottom:10px;
}

#klik:hover
{
    background-color:#9962cc;
    cursor:pointer;


}


#haslo
{

    font-size:60px;
    margin-left:380px;
    margin-top:50px;
    float:left;
    width:300px;
    height:80px;
}

#reload
{
    width:200px;
    height:50px;
    background-color: chartreuse;
    color:black;
    border-radius: 30px;
    font-size:30px;
    text-align:center;
    line-height:150%;
    margin-bottom:10px;
    float:left;
}


#reload:hover
{
    background-color: greenyellow;
    cursor:pointer;


}


h1
{
    font-size:50px;
    text-align:center;
    color: slateblue;
    border:3px solid olivedrab;
    border-radius:50px;
    padding:20px;
    letter-spacing: 5px;
}


span
{
    display:block;
    color: slateblue;
    border:1px solid black;
    font-size:50px;
    margin-right: 3px;
    width:60px;
    height:60px;
    cursor:pointer;
    float:left;
    background-color: white;
    text-align:center;
    margin-bottom:3px;
    transition:transform 0.2s ease-in-out;
}

span:hover
{

    background-color: cornflowerblue;
    transform:rotate3d(2,2,2,30deg);


}

#alfabet
{

background-color: cornflowerblue;



}

#licznik
{

    width:200px;
    height:50px;
    border-radius: 360px;
    font-size:30px;
    background-color:crimson;
    text-align: center;
    margin-bottom:20px;
    clear:both;




}

h2
{

text-align: center;
    color: slateblue;
  letter-spacing:3px;



}

#alfabet
{
    margin-right: auto;
    margin-left: auto;
    background-color: saddlebrown;
    padding:0px;
    text-align: center;
    width:800px;
}